.svgchart {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.rect-info {
    transform: translate(-40px, -50px);
    fill: rgb(178, 179, 177);
    width: 78px;
    height: 50px;
}

.rect-line {
    fill: gray;
    opacity: 0.3;
}

.text-info_hour {
    fill: black;
    font-size: 11px;
    transform: translate(-33px, -30px);
}

.text-info_tide {
    fill: black;
    font-size: 14px;
    transform: translate(-15px, -13px);
}
